.mi_boton_1{
    background-color: rgba(55, 236, 61, 0.811);
    font-family: 'Amatic SC', cursive;
    font-size: 150%;
    width: 20%;
    height: 50px;
}

.mi_boton_2{
    border: 0;
    background-image: linear-gradient(
        150deg,
    #64f859,
    #3fbc3d,
    #78fdca
    ) ;
    border-radius: 8px;
    color: #fff;
    display: flex;
    margin: 0 auto;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
}

button span{
    background-color: rgba(2, 130, 17, 0.875);
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

button:hover span{
    background: none;
}

button:active{
    transform: scale(.9);
}

.linea{
    display: inline!important;
}
